html,
body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

* {
	font-family: 'Ubuntu', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

body {
	background-color: #e0e0e0;
}

header {
	background-color: #bc8f8f;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

#logo {
	margin-left: 1%;
}

#login {
	float: right;
	color: black;
	margin-right: 2%;
}

footer {
	background-color: #bc8f8f;
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}

#contactUs {
	color: white;
	margin-left: 2%;
}

.socialImage {
	margin-right: 2%;
}

#copyright {
	margin: auto;
	font-size: 10px;
}

h5 {
	font-family: Comic Sans MS, Comic Sans, cursive;
	font-weight: bolder;
}

.checked {
	color: orange;
}