.content {
	display: flex;
	flex-direction: column;
	margin-top: 5%;
	margin-bottom: 5%;
}

.sliderBooking {
	display: flex;
	justify-content: start;
	align-content: center;
	border: 1px solid black;
	margin: 1%;
}

.carousel {
	width: 65%;
}

.slider-image {
	height: 350px;
	width: 500px;
}

.carousel-inner {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 18%;
}

.bookingFormDetails {
	width: 35%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-left: 1px solid black;
}

.formDetails {
	padding: 4%;
	display: flex;
	justify-content: space-between;
}

.inputBox {
	width: 60%;
}

.bookNow {
	margin-left: 41%;
}

.hotelDescription {
	margin: 1% 4% 2% 4%;
}

.arrow {
	color: rosybrown;
	font-size: 50px;
}

@media screen and (max-width: 576px) {

	.carousel {
		margin-left: 0%;
		width: 100%;
		border-right: 1px solid black;
	}

	.carousel-inner {
		margin: 0%;
	}

	.bookingFormDetails {
		width: 100%;
		border: 1px solid black;
	}

	.content {
		margin-top: 20%;
		margin-bottom: 22%;
		flex-direction: column;
	}

	.sliderBooking {
		flex-direction: column;
	}

	.slider-image {
		width: 100%;
	}

	.bookNow {
		margin-bottom: 2%;
	}
}

@media screen and (min-width: 576px) and (max-width: 768px) {
	.content {
		margin-top: 10%;
	}

	.slider-image {
		width: 98%;
	}

	.carousel-inner {
		margin: 1%;
	}
}