#radissonImage {
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
}

.bookingFormDetails {
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 1%;
}

.hotelDescription {
    margin: 1% 4% 2% 4%;
}