.flexcontainer {
	display: flex;
	flex-direction: column;
	width: 100%;

}

#content {
	background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
	height: 380px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;

}

#searchBar {
	background-color: #f1f1f1;
	border: 1px solid transparent;
	border-radius: 12px;
	font-size: 16px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	outline: none;
	width: 400px;
}

.cityImage {
	height: 150px;
	width: 150px;
	border-radius: 25%;
	box-shadow: 10px 10px 10px grey;
}

.cityCards {
	display: flex;
	flex-direction: column;
}

#cityCards1 {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	margin: 2%;

}

#cityCards2 {
	display: none;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	margin: 2%;

}

.overlay {
	position: absolute;
	bottom: 0px;
	height: 150px;
	width: 150px;
	border-radius: 25%;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	/* Black see-through */
	color: #f1f1f1;
	opacity: 0;
	font-size: 20px;

}

.card {
	background-color: transparent;
	border: 0px;
	margin: 4%;
}

.overlay span {
	position: relative;
	top: 45%;
}

.card:hover .overlay {
	opacity: 1;
}

#viewMore {
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
}

@media screen and (max-width: 576px) {
	#searchBar {
		width: 150px;
	}

	.cityCards {
		flex-direction: column;
		margin: auto;
	}

	.cityImage {
		height: 200px;
		width: 200px;
	}

	.card {
		padding: 4% 0%;
	}

	#viewMore {
		margin-bottom: 20%;
	}
}

@media screen and (min-width: 576px) and (max-width: 768px) {
	#searchBar {
		width: 200;
	}

	.cityCards {
		flex-wrap: wrap;
		margin: auto;
	}

	.cityImage {
		height: 250px;
		width: 260px;
	}

	.card {
		padding: 4% 0%;
	}
}

/*the container must be positioned relative:*/
.search-items {
    border: 1px solid #d4d4d4;
    z-index: 99;
    width: 100%;
}
.search-items div{
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
    border-radius: 12px;
}
/*when hovering an item:*/
.search-items div:hover {
    background-color: #e9e9e9; 
}
/*when navigating through the items using the arrow keys:*/
.search-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}